.venv/
__pycache__/
hailo_packages/
fastapi_control_server/__pycache__
tappas_3.31.0_linux_installer
AI_detections_cv2/yolo_files/yolov3.weights
AI(cv2_detection)/yolo_files/yolov3.weights
AI_traffic_detection(ultralytics)/__pycache__
AI_traffic_detection(ultralytics)/rpi-venv/
AI_traffic_detection(hailo)/AI_traffic_detection_hailo.py
AI_traffic_detection(hailo)/venv
AI_traffic_detection(hailo)/model_compile/hailo_dataflow_compiler-3.33.0-py3-none-linux_x86_64.whl
AI_traffic_detection(hailo)/acceleras.log
AI_traffic_detection(hailo)/allocator.log
AI_traffic_detection(hailo)/hailo_sdk.client.log
AI_traffic_detection(hailo)/hailo_sdk.core.log
AI_traffic_detection(hailo)/hailo_sdk.core.1.log
AI_traffic_detection(hailo)/yolov8m.pt
AI_traffic_detection(hailo)/yolov8m.har
AI_traffic_detection(hailo)/yolov8m.onnx
AI_traffic_detection(hailo)/yolov8m_compiled.har
AI_traffic_detection(hailo)/yolov8m_optimized.har
__pycache__/
*.mp4
.venv/

