# Deep Learning a Computer Vision
onnx>=1.19.1
onnxruntime>=1.15.1
ultralytics>=8.3.230 #8.0.0
# Web Framework a API
fastapi>=0.121.3
uvicorn[standard]>=0.38.0
websockets>=15.0.1
# Computer Vision
av
opencv-python>=4.12.0.88
# Numerické výpočty a filtrace
filterpy>=1.4.5
# Validace dat
pydantic>=2.12.4

